:root {
    font-size: 1em;
}

html {
    font-family: Poppins, sans-serif;
}

body {
    margin: 0;
    box-sizing: border-box;
    width: 1920px;
    height: 10264px;
    background: #FFF;
    padding: 0 190px;
}

.customer_reviews {
    display: flex;
    width: 1540px;
    flex-direction: column;
    align-items: center;
    gap: 46px;
}

.customer_reviews--heading {
    color: #313131;
    text-align: center;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 109%; /* 69.76px */
    letter-spacing: -0.64px;
    text-transform: capitalize;
}

.customer_reviews--reviews {
    display: flex;
    flex-direction: row;
    width: 1540px;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
}

.customer_reviews--review {
    display: flex;
    padding: 0px 33px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex: 1 0 0;
}

.customer_reviews--review_text {
    align-self: stretch;
    color: #616161;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 188%; /* 30.08px */
}

.customer_reviews--review_name_and_rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

.customer_reviews--rating {
    display: flex;
    align-items: flex-start;
    gap: 2px;
}

.customer_reviews--star {
    width: 15px;
    height: 15px;
}

.customer_reviews--name {
    color: #313131;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px; /* 183.333% */
    text-transform: capitalize;
}

.customer_reviews--slider {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.customer_reviews--ellipse {
    width: 17px;
    height: 17px;
}

